In [4]:
import pandas as pd

Series

In [5]:
series_test = pd.Series(range(100,1000, 100))
series_test

0    100
1    200
2    300
3    400
4    500
5    600
6    700
7    800
8    900
dtype: int64

In [6]:
series_test2 = pd.Series({1999: 48, 2000: 65, 2001: 89})
series_test2[2000]

65

DataFrames

In [7]:
frame_test = pd.DataFrame({
    1999: [74, 38, 39],
    2000: [48, 22, 31],
    2001: [24, 37, 34],
    2002: [64, 21, 43],

})
frame_test

   1999  2000  2001  2002
0    74    48    24    64
1    38    22    37    21
2    39    31    34    43

In [8]:
frame_test2 = pd.DataFrame( [[74, 38, 39],[48, 22, 31],[64, 21, 43]], columns=[2000,2001,2002])
frame_test2

   2000  2001  2002
0    74    38    39
1    48    22    31
2    64    21    43

Read Data

In [9]:
la_nacion = pd.read_csv('./DB/lanacion_2022-03-06.csv')
la_nacion.head(5)

,autor,body,date,title,url
0,Kimberly Herrera Salazar,A Anna Chlumsky es fácil reconocerla. Su rostr...,2022-03-05T14:00:00Z,"Anna Chlumsky, la niña de ‘Mi primer beso’ que...",https://www.nacion.com/viva/television/anna-ch...
1,AFP,"Kiev. A cada ráfaga de viento, trozos de pared...",2022-03-05T15:18:12.813Z,Unas horas para irse o morir en una ciudad ucr...,https://www.nacion.com/el-mundo/conflictos/una...
2,Carlos Arguedas C.,"La Sociedad Periodística Extra Ltda, dueña de ...",2022-03-04T23:13:37.361Z,‘Diario Extra’ impugna resolución que le orden...,https://www.nacion.com/sucesos/judiciales/diar...
3,Fabrice Le Lous,"Este miércoles 2 de marzo, el presidente Carlo...",2022-03-04T00:07:27.112Z,Cannabis medicinal en Costa Rica: así quedó la...,https://www.nacion.com/blogs/el-explicador/can...
4,Jorge Arturo Mora,"Siempre que en el teatro se apagan las luces, ...",2022-03-05T16:23:19.385Z,Jorge Drexler en Costa Rica: crónica de un mil...,https://www.nacion.com/viva/musica/jorge-drexl...

In [10]:
la_nacion['date'] = pd.to_datetime(la_nacion['date'])

Index and selection

In [11]:
# dicitionary like

la_nacion['title']

0     Anna Chlumsky, la niña de ‘Mi primer beso’ que...
1     Unas horas para irse o morir en una ciudad ucr...
2     ‘Diario Extra’ impugna resolución que le orden...
3     Cannabis medicinal en Costa Rica: así quedó la...
4     Jorge Drexler en Costa Rica: crónica de un mil...
                            ...
95                   ¡Cuídese de una emergencia ocular!
96    Eliécer Feinzaig descarta alianza con candidat...
97    Ráfaga tumba a ciclista y un auto lo atropella...
98    ‘Vértice de asombros’: el arte sagrado de los ...
99    ¿Cómo inició la pelea en el Querétaro contra A...
Name: title, Length: 100, dtype: object

In [12]:
la_nacion[['title','autor']]

,title,autor
0,"Anna Chlumsky, la niña de ‘Mi primer beso’ que...",Kimberly Herrera Salazar
1,Unas horas para irse o morir en una ciudad ucr...,AFP
2,‘Diario Extra’ impugna resolución que le orden...,Carlos Arguedas C.
3,Cannabis medicinal en Costa Rica: así quedó la...,Fabrice Le Lous
4,Jorge Drexler en Costa Rica: crónica de un mil...,Jorge Arturo Mora
...,...,...
95,¡Cuídese de una emergencia ocular!,Redacción Perfil
96,Eliécer Feinzaig descarta alianza con candidat...,Rebeca Madrigal Q.
97,Ráfaga tumba a ciclista y un auto lo atropella...,"Keyna Calderón, corresponsal y Luis Enrique B..."
98,‘Vértice de asombros’: el arte sagrado de los ...,Peggy von Mayer
99,¿Cómo inició la pelea en el Querétaro contra A...,El Universal/México/GDA

In [13]:
#numpy like

la_nacion.iloc[9:13]

,autor,body,date,title,url
9,Irene Rodríguez,"La tasa de contagio de covid-19 en Costa Rica,...",2022-03-04 12:45:13.022000+00:00,Tasa de contagio de covid-19 llega a su valor ...,https://www.nacion.com/el-pais/salud/tasa-de-c...
10,NaN,"No me llegó la pensión este mes, por lo que ll...",2022-03-06 02:07:44.944000+00:00,Cartas a la columna: Pensión ‘desaparecida’,https://www.nacion.com/opinion/cartas/cartas-a...
11,Patricia Recio,"Tras un año en el abandono, las carreteras nac...",2022-03-05 11:00:00+00:00,Dinero para mantener vías solo alcanza para ta...,https://www.nacion.com/el-pais/infraestructura...
12,Irene Rodríguez,El Gobierno anunció la tarde de este miércoles...,2022-02-23 19:58:16.717000+00:00,Restricciones sanitarias que cambian a partir ...,https://www.nacion.com/ciencia/salud/restricci...

In [14]:
la_nacion.iloc[1]['title']

'Unas horas para irse o morir en una ciudad ucraniana destrozada por los bombardeos rusos'

In [15]:
la_nacion.iloc[:5,0]

0     Kimberly Herrera Salazar
1                         AFP
2           Carlos Arguedas C.
3              Fabrice Le Lous
4            Jorge Arturo Mora
Name: autor, dtype: object

Data Wrangling

In [16]:
#1. Añadir newspaper_uid al DataFrame

la_nacion['newspaper_uid'] = 'lanacion'

In [17]:
#2. Obtener el host
from urllib.parse import urlparse
la_nacion['hostname'] = la_nacion['url'].apply(lambda x: urlparse(x).hostname)

In [18]:
la_nacion['autor'] = la_nacion['autor'].fillna('Desconocido')

In [19]:
la_nacion.head(2)

,autor,body,date,title,url,newspaper_uid,hostname
0,Kimberly Herrera Salazar,A Anna Chlumsky es fácil reconocerla. Su rostr...,2022-03-05 14:00:00+00:00,"Anna Chlumsky, la niña de ‘Mi primer beso’ que...",https://www.nacion.com/viva/television/anna-ch...,lanacion,www.nacion.com
1,AFP,"Kiev. A cada ráfaga de viento, trozos de pared...",2022-03-05 15:18:12.813000+00:00,Unas horas para irse o morir en una ciudad ucr...,https://www.nacion.com/el-mundo/conflictos/una...,lanacion,www.nacion.com

# 4. Añadir uid a las filas

In [23]:
import hashlib
uids = (la_nacion.apply(lambda row: hashlib.md5(bytes(row['url'].encode())),axis=1)).apply(lambda hash_object: hash_object.hexdigest())
la_nacion['uid'] = uids
la_nacion.set_index('uid', inplace=True)

In [ ]:
la_nacion

# 5 Valores duplicados

In [26]:
la_nacion['title'].value_counts(sort=True)

Anna Chlumsky, la niña de ‘Mi primer beso’ que huyó de la fama y hoy triunfa en Netflix                       1
Café del sol, un chineo al paladar en Playa Potrero                                                           1
J Balvin ignora ataque de Residente y se enfoca en la salud de su madre                                       1
Chile anuncia creación de parque nacional que protegerá 368 glaciares                                         1
Periodista británico resulta herido por un disparo en Ucrania                                                 1
                                                                                                             ..
Petróleo ruso se quedó sin compradores desde el inicio de la guerra con Ucrania                               1
Putin lanza advertencia: Países que impongan zona de exclusión aérea en Ucrania serían parte del conflicto    1
Jugador de fútbol 5 es asesinado a balazos en La Cruz, Guanacaste                                             1
Municipalidad de Oreamuno elimina cobros por rótulos comerciales                                              1
¿Cómo inició la pelea en el Querétaro contra Atlas de México? Lo que sabemos                                  1
Name: title, Length: 100, dtype: int64